html,body {
    padding: 0;
    margin: 0px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
}
header {
    background-image: url("../img/floral.jpg");
    flex: 0 0 40px;
    text-align: center;
    padding: 20px;
}
footer {
    background-image: url("../img/floral.jpg");
    flex: 0 0 80px;
}
body > section {
    background-color: aliceblue;
    flex: 1 1 auto;
    flex-direction: row;
    height: 100%;
    display: grid;
    justify-content: top;
}
section > main {
    flex-grow: 1;
    flex-basis: 100%;
    text-align: center;
    padding: 20px;
    overflow: auto;
}
section > main > img {
    padding: 20px;
}
.container {
    width: 100%;
    max-width: 600px;
    max-height: auto;
    margin: 0 auto;
    padding-bottom: 20px;
}
.resp-container {
    position: relative;
    width: 100%;
	padding-top: 56.25%; /* 16:9 */
    overflow: hidden;      
}
.resp-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    height: 100%;
    width: 100%;
}
form {
    clear: both;
    background-color: lightgoldenrodyellow;
    width: 40%;
    min-width: 275px;
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
}
form input[type=text] {
    width: 90%;
    padding: 5px;
    border: 0;
    background-color: white;
    border-radius: 5px;
    font-family: inherit;
    font-size: inherit;
}
#radio, #check {
    padding: 5px;
}
form input[type=submit] {
    background-color: lightblue;
    border: none;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}